# --- package dependecies in source
jinja2
ansible # can be omitted if dcluster ansible is not used (TODO... use selective installation)

# --- to execute setup.py whatever the goal
setuptools_scm
# pytest-runner

# --- to run the tests
pytest  #$PYTEST_VERSION

# --- to generate the reports (see scripts in ci_tools, called by .travis)
# pytest-cov==2.6.0  # after 2.6.1 it requires pytest 3.6
# pytest-html==1.9.0  # otherwise requires pytest 5
# xunitparser

