version: '3.1'
services:
{% for host in groups['head'] %}
    {{hostvars[host].container}}:
        container_name: {{hostvars[host].container}}
        image: centos7:ssh
        hostname: {{hostvars[host].hostname}}
        environment:
            - 'JENKINS_URL=http://jenkins:8080'
        networks:
            {{network_name}}:
                ipv4_address: {{hostvars[host]['inventory_hostname']}}
        extra_hosts:
{% for host in groups['all'] %}
            {{hostvars[host].hostname}}: {{hostvars[host]['inventory_hostname']}}
{% endfor %}
{% endfor %}

{% for host in groups['compute'] %}
    {{hostvars[host].container}}:
        container_name: {{hostvars[host].container}}
        image: centos7:ssh
        hostname: {{hostvars[host].hostname}}
        networks:
            {{network_name}}:
                ipv4_address: {{hostvars[host]['inventory_hostname']}}
        extra_hosts:
{% for host in groups['all'] %}
            {{hostvars[host].hostname}}: {{hostvars[host]['inventory_hostname']}}
{% endfor %}
{% endfor %}

networks:
  {{network_name}}:
    external:
        name: {{network_name}}

# TODO: add .254 gateway to /etc/hosts!
# ssh -o "StrictHostKeyChecking=no" -o "GSSAPIAuthentication=no" -o "UserKnownHostsFile /dev/null" -o "LogLevel ERROR" ci-user@172.31.1.2
