version: '3.7'
services:
{% for node_ip, node in nodes.items() | sort(attribute='1.hostname') %}

    {{node.container}}:
        container_name: {{node.container}}
        image: {{node.image}}
        init: true
        entrypoint: "/dcluster/bootstrap.sh"
        hostname: {{node.hostname}}
        labels:
            bull.com.dcluster.role: {{node.role}}
        networks:
            {{network.name}}:
                ipv4_address: {{node.ip_address}}
        extra_hosts:
{% for node_ip, extra_host in nodes.items() | sort(attribute='1.hostname') %}
            {{extra_host.hostname}}: {{extra_host.ip_address}}
{% endfor %}
            gateway: {{network.gateway_ip}}
        volumes:
            - {{bootstrap_dir}}:/dcluster
{% if node.volumes %}
{% for node_volume in node.volumes %}
            - {{node_volume}}
{% endfor %}
{% endif %}
{{ node.static_text }}
{% endfor %}

networks:
  {{network.name}}:
    external:
        name: {{network.name}}

{% if volumes %}
volumes:
{% for volume_entry in volumes %}
    {{ volume_entry }}:
{% endfor %}
{% endif %}
