version: '3.1'
services:
{% for node in nodes.values() %}

    {{node.container}}:
        container_name: {{node.container}}
        image: centos7:ssh
        hostname: {{node.hostname}}
        networks:
            {{network.name}}:
                ipv4_address: {{node.ip_address}}
        extra_hosts:
{% for extra_host in nodes.values() %}
            {{extra_host.hostname}}: {{extra_host.ip_address}}
{% endfor %}
            gateway: {{network.gateway_ip}}
{% endfor %}

networks:
  {{network.name}}:
    external:
        name: {{network.name}}

