version: '3.1'
services:
{% for node_ip, node in nodes.items() | sort(attribute='1.hostname') %}

    {{node.container}}:
        container_name: {{node.container}}
        image: {{node.image}}
        hostname: {{node.hostname}}
        networks:
            {{network.name}}:
                ipv4_address: {{node.ip_address}}
        extra_hosts:
{% for node_ip, extra_host in nodes.items() | sort(attribute='1.hostname') %}
            {{extra_host.hostname}}: {{extra_host.ip_address}}
{% endfor %}
            gateway: {{network.gateway_ip}}
{% endfor %}

networks:
  {{network.name}}:
    external:
        name: {{network.name}}

